@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

$baseColor: #152028;
$bgColor: #233d55;
$fgColor: #bdbdc3;
$bgColor_hover: #2f2f64;
$bgColor_active: #0f3446;

$appWidth: 760px;
$padding_v: 10px;

$breakpoint: 760px;

body {
  background-color: $baseColor;
  color: $fgColor;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

#app {
  margin: 0 auto;
  width: $appWidth;
}

#navbar {
  background-color: $bgColor;
  box-shadow: #0e1011 0 5px;
  height: calc(1.5em + $padding_v * 2);
  position: fixed;
  top: 0;
  width: $appWidth;
  z-index: 99999;

  .navbar-toggle, input[type="checkbox"] {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;

    @mixin navbar_item {
      color: $fgColor;
      cursor: pointer;
      display: inline-block;
      padding: $padding_v 15px;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        background-color: $bgColor_hover;
      }

      &:active {
        background-color: $bgColor_active;
      }
    }

    a {
      @include navbar_item();
    }

    /*  styling the <input type="file"> element
     *  https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
     */
    input[type="file"] {
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute !important;
      width: 0.1px;
      z-index: -1;

      & + label {
        @include navbar_item();
      }

      &:focus + label {
        /* when input is focussed, use browser focus style on the label
         * https://remysharp.com/til/css/focus-ring-default-styles
         */
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
      }
    }
  }
}

#page {
  padding-top: calc(1.5em + $padding_v * 2 + 1.5em);
  width: $appWidth;
}

.form {
  > h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1.8em 0 1em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .form-input {
    $inputBg: #1c2f47;
    $input-row-pad-v: 10px;

    display: block;
    margin-bottom: 1.3em;

    label {
      display: block;
      margin-bottom: 0.5em;
    }

    input,
    select {
      background-color: $inputBg;
      border: none;
      border-radius: 4px;
      color: #b5b5bd;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: $input-row-pad-v 6px;
      width: 100%;
    }

    input[name="meeting-quota"] {
      display: none;
    }

    .input-row {
      display: inline-block;
      padding: $input-row-pad-v 0;
    }

    .btn-bi {
      background: none;
      border: none;
      color: $fgColor;
      cursor: pointer;
      font-size: inherit;
      line-height: inherit;;
      margin: 0;
      padding: 0;

      &:disabled {
        color: #adadadbd;
        cursor: not-allowed;
      }
    }

    .meeting-quota-display {
      display: inline-block;
      margin: 0 1em;
    }
  }

    .applicant-group {
    &:first-child {
      counter-reset: applicant-num;
    }

    display: block;
    position: relative;

    &::before {
      counter-increment: applicant-num;
      content: counter(applicant-num);
      position: absolute;
      left: -1.2em;
      top: 0;
    }

    &:not(:last-child)::after {
      background-color: #bdbdc32b;
      content: '';
      display: block;
      height: 2px;
      margin: 1.8em auto 1em auto;
      width: 50%;
    }
  }
}

.btn-genform {
   background-color: #286197;
   border: none;
   box-shadow: 0 5px #1c4078;
   border-radius: 4px;
   color: #dedee2;
   cursor: pointer;
   font-size: inherit;
   line-height: inherit;
   margin: 1.8em 0;
   padding: 0.6em 1em;

   &:active {
     transform: translateY(2px);
     box-shadow: none;
   }
}

@media (max-width: $breakpoint) {
  #app {
    width: 100%;
  }

  #navbar {
    width: 100%;
  }

  #page {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }

  .form {
    .applicant-group {
      &::before {
        display: none;
      }

      &:not(:last-child)::after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 560px) {
  #app {
    /* necessary for overflow: hidden to lock body scroll when navbar is open */
    height: 100vh;

    &.navbar-open {
      overflow: hidden;

      #navbar {
        height: 100vh;
      }
    }
  }


  #navbar {
    .navbar-toggle {
      display: block;
      padding: 8px 1em 8px 0;
      text-align: right;
      font-size: 1.2em;

      label {
        cursor: pointer;
      }
    }

    input[type="checkbox"] {
      &:checked + ul {
        display: block;
      }
    }

    ul {
      display: none;
    }

    li {
      display: block;

      a, input[type="file"] + label {
        display: block;

        i {
          margin-right: 0.8em;;
        }
      }
    }
  }
}
